<div class="well">
  <div class="form-group">
    <textarea rows=4 class="form-control" placeholder="tweet message" ng-model="message"></textarea>
  </div>
  <p class="input-group">
    <input name="name" value="" class="form-control" uib-datepicker-popup is-open="opened" datepicker-options="dateOptions" ng-model="date">
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </p>
  <uib-timepicker ng-model="time"></uib-timepicker>
  <button type="button" name="button" ng-click="delete()" ng-show="isEditing" class="btn btn-danger">Delete</button>
  <button type="button" name="button" ng-click="save()" class="btn btn-default" ng-disabled="!date">Save</button>
</div>
